[submodule "app/Plugin/Opauth"]
	path = app/Plugin/Opauth
	url = git://github.com/uzyn/cakephp-opauth.git
[submodule "app/Plugin/Opauth/Strategy/Facebook"]
	url = git://github.com/opauth/facebook.git
[submodule "app/Plugin/Opauth/Strategy/Twitter"]
	url = git://github.com/opauth/twitter.git
[submodule "app/Plugin/Opauth/Strategy/Google"]
	url = git://github.com/opauth/google.git